$primary: rgb(126, 186, 210);
$accent: #00c403;
$accent1: #00c465;
$text1: #00c1c4;
$text2: #005fc4;
$text3: #0300c4;

@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  padding: 0;
  margin: 0;
  background: rgba(240, 240, 240, 1);
}
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway";
  font-display: auto;
}
.navbar {
  background: $primary;
}
.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  background: #f4f4f4;
  color: $primary;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background: #fff !important;
}

/*header style*/
.header {
  position: relative;
  background-image: url("/assets/hero.webp");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}
.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}
.description h1 {
  color: $primary;
}
.description p {
  color: #666;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}
.description button {
  border: 1px solid $primary;
  background: $primary;
  color: #fff;
}

//Section A propos
.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
}
.about h1 {
  color: $primary;
  margin: 2em;
}
.about img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.about span {
  display: block;
  color: #888;
  position: absolute;
  left: 90px;
  margin-top: 10px;
}
.about .desc {
  padding: 2em;
  border-left: 4px solid #10828c;
}
.about .desc h3 {
  color: #10828c;
}
.about .desc p {
  line-height: 2;
  color: #888;
}

/*Portfolio*/
.portfolio {
  margin: 4em 0;
  position: relative;
}

.portfolio .btn-primary {
  background: $primary;
  color: #fff;
  border: 0;
}

.portfolio h1 {
  color: $primary;
  margin: 2em;
}

.portfolio p {
  color: $text1;
}
.portfolio img {
  &:hover {
    cursor: pointer;
  }
}

/*Contact*/
.contact-form {
  margin: 6em 0;
  position: relative;
}

.contact-form h1 {
  padding: 2em 1px;
  color: $primary;
}
.contact-form .right {
  max-width: 600px;
}
.contact-form .right .btn-secondary {
  background: $primary;
  color: #fff;
  border: 0;
}
.contact-form .right .form-control::placeholder {
  color: #888;
  font-size: 16px;
}
